@model IEnumerable<Models.CProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/55/12/hizK5X.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Lucida Handwriting';
    }
</style>


    <h1>Cart</h1>

    <table>
        <tr>
            <th style="padding-right:70px">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="padding-right:50px">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="padding-right:50px">
                @Html.DisplayNameFor(model => model.InventoryLocation)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modell => item.ProductName)
                </th>
                <th>
                    @Html.DisplayFor(modell => item.Price)
                </th>
                <th>
                    @Html.DisplayFor(modell => item.InventoryLocation)
                </th>
            </tr>
        }

    </table>
    <form asp-action="CompleteOrder">
        <input type="submit" value="Complete Order" class="btn btn-primary" />
    </form>