@model IEnumerable<Models.CProduct>

@{
    ViewData["Title"] = "BuyMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: 'Lucida Handwriting';
    }
</style>
<body style="background-color: rgb(236,176,56); ">

    <h1>Products</h1>
    <table>
        <tr >
            <th style="padding-right:30px">
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th style="padding-right:50px">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="padding-right:30px">
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th style="padding-right:30px">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="padding-right:30px">
                @Html.DisplayNameFor(model => model.InventoryLocation)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modell => item.ProductId)
                </th>
                <th>
                    @Html.DisplayFor(modell => item.ProductName)
                </th>
                <th>
                    @Html.DisplayFor(modell => item.Stock)
                </th>
                <th>
                    @Html.DisplayFor(modell => item.Price)
                </th>
                <th>
                    @Html.DisplayFor(modell => item.InventoryLocation)
                </th>
                <th>
                    @Html.ActionLink("Add One To Cart", "middleMan", new { id = item.ProductId})
                </th>
            </tr>
        }

    </table>

</body>
