@model IEnumerable<Models.CProduct>

@{
    ViewData["Title"] = "Ceylon";
}

<h1>Ceylon Tea</h1>

@foreach (var item in Model)
{
    if (item.ProductId == 1)
    {
        <p>
            Category:
            @Html.DisplayFor(modelItem => item.Category) <br />
            Description:
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </p>
        <p>
            QTY:
            @Html.DisplayFor(modelItem => item.Stock) <br />
            $ @Html.DisplayFor(modelItem => item.Price)
        </p>
        <p>
            Location:
            @Html.DisplayFor(modelItem => item.InventoryLocation)
        </p>
    }
}



<form asp-action="Cart">
    <label for="stock">How many would you like to buy?</label>
    <input type="number" id="stock" size="3" name="stock" value=""><br>
    <input type="submit" value="Add To Cart">
    @Html.ActionLink("", "Cart", "Product")
</form>
