@model Models.CProduct

@{
    ViewData["Title"] = "ItemPage";
}


<h1>Tea just for you!</h1>
<h2>Hot or Cold</h2>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @Html.ActionLink("Ceylon Tea", "Ceylon", "Product")
            </td>
            <td>
                @Html.ActionLink("Assam Tea", "Assam", "Product")
            </td>
            <td>
                @Html.ActionLink("Earl Grey Tea", "EarlGrey", "Product")
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Chai Tea", "Chai", "Product")
            </td>
            <td>
                @Html.ActionLink("Blueberry Lavender Tea", "BlueberryLavender", "Product")
            </td>
            <td>
                @Html.ActionLink("Lemon Mint Tea", "LemonMint", "Product")
            </td>
        </tr>
    </tbody>

</table>